<section class="content-header">
</section>

<section class="content">
  <section class="invoice">
    <form #form="ngForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            Registro do Pet
          </h2>
        </div>
      </div>

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead">Dados do cadastro</p>
        </div>

        <div class="col-sm-4 col-xs-12">
          <app-input-container errorMessage="Campo obrigatório com no mínimo 2 caracteres" label="Nome">
            <input class="form-control" name="nome" ngModel required minlength="2" maxlength="100" placeholder="Nome" autocomplete="off">
          </app-input-container>
        </div>

        <div class="col-sm-2 col-xs-6">
          <app-input-container errorMessage="Campo obrigatório com no mínimo 2 caracteres" label="Especie">
            <input class="form-control" name="especie" ngModel required minlength="2" maxlength="50" placeholder="Espécie" autocomplete="off">
          </app-input-container>
        </div>

        <div class="col-sm-4 col-xs-6">
          <app-input-container errorMessage="Campo obrigatório com no mínimo 2 caracteres" label="Raca">
            <input class="form-control" name="raca" ngModel required minlength="2" maxlength="50" placeholder="Raça" autocomplete="off">
          </app-input-container>
        </div>

        <div class="col-sm-2 col-xs-6">
          <app-input-container errorMessage="Campo obrigatório com no mínimo 1 número" label="Idade">
            <input class="form-control" name="idade" ngModel required minlength="1" maxlength="3" placeholder="Idade" pattern="^[0-9]*$" autocomplete="off">
          </app-input-container>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col-xs-12">
         <button (click)="addPet(form.value)" class="btn btn-success pull-right" [disabled]="!form.valid">Confirmar</button>
      </div>
    </div>
  </section>
</section>
